body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  padding: 50px;
  margin: 0 auto;
}

p {
  font-size: 18px;
}

a {
  color: #00B7FF;
}

i{
  color:white;
  font-size: 1rem;
}

.pagination {
  display: block;
  margin: 1rem 0;
}

.pagination li {
  display: inline-block;
  padding: .5rem;
  border: #00B7FF 1px solid;
  border-radius: 10%;
}

.pagination li a {
  text-decoration: none;
}

.pagination li.active {
  background-color: gray;
  color: #fff;
}


.pagination li.disabled{
  color: #2781a5;
  border: 0;
}

#perPageLabel{
  color: #00B7FF;
  display: inline-block;
  padding-left: 100px;
}

#perPage {
  color: #00B7FF;
  display: inline-block;
  padding: .5rem;
  border: #00B7FF 1px solid;
  border-radius: 10%;
  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}

#perPage:focus {
  outline: auto;
}

.entity-count {
  width: 200px;
  height: auto;
  border: 1px black solid;
  border-radius: 15px;
  padding: 2rem;
  margin: 10px;
}

.entity-count:hover {
  cursor: pointer;
}

.entity-count > h4 {
  font-size: 2.25rem;
}

.entity-count > div > i {
  color: black;
  font-size: 2rem;
}

.entity-number {
  font-size: 2rem;
  font-weight: bold;
}




